/bin/
/paper/
/stimsWAV/*
default.sf2
GrooveGenerator_WIP.py
sync_index.py
GG_grooveIndex.py
GG_workscript.py
GGfunctions.py
stimsWAV/testing.wav
withDynamics.wav
*.pyc
*.mid
*.csv
MIRtoolbox1.8.1/*
!MIRtoolbox1.8.1/note.txt
GG_correlationsWORKSCRIPT.py
temp.wav
high.wav
high180.wav
hoeslhigh.wav
witekhigh.wav
